@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:wght@500&family=Oswald:wght@600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand&family=Roboto+Mono&family=Roboto:wght@100&display=swap');


body {
  margin: 0 ;
  padding: 0%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  
}

h1{
  font-family: Arimo;
}

.title{
  background-color: rgb(43, 2, 139);
  padding: 2rem 1rem;
  width: 100%;
  margin-bottom: 5rem;
  color: white;
  letter-spacing: 3px;
  box-shadow: 2px 4px 6px #333;
  
}

.answer{
  background-color: rgb(67, 0, 154);
  padding: 2rem 1rem;
  border-radius: 2rem;
  color: white;
  letter-spacing: 3px;
  box-shadow: 2px 4px 6px #333;
  margin-bottom: 2rem;
}

.btn-clear{
  background-color: transparent;
  color: rgb(255, 0, 0);
  border-color: rgb(239, 0, 0);
  padding: 1.1rem;
  margin-top: 3rem;
  font-weight: 1500;
  
}

.btn-clear:hover{
  background-color: rgba(167, 167, 167, 0.69);
}


.item{
  min-width: 50vh;
  display:block;
  flex-direction: column;
  text-align: left;
  align-items: center;
  float: center;
  margin-bottom: 0.5rem;
  justify-content:space-between;
  background-color:white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: Verdana;
  border-color: black;
  box-shadow: 1px 1px 8px rgb(156, 156, 156);
}

.item:hover{
  background-color:rgb(243, 242, 242);
  box-shadow: 1px 1px 10px rgb(170, 170, 170);
  padding: 1.2rem 1rem;
}

.edit-btn{
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  display:flex;
  float:right;
  color: green;
}

.delete-btn{
  margin-top: 0.2rem;
  padding: 0.5rem;
  display:flex;
  float:right;
  color: red;
}

.expense{
  text-align: left;
}

.amount{
  text-align: center;
  color: brown;
  display: flex;
}

.list{
  background-color:rgb(255, 255, 255);
  padding: 3rem;
  margin-top: 0rem;
}

.form-center{
  color:rgb(67, 0, 154);
  font-family: Verdana;
  margin-top: 10rem;
  background-color:rgb(255, 255, 255);
  align-items: center;
}

.form-group{
  align-items: center;
  padding: 1rem;
}

.form-control{
  padding: 0.4rem;
  border-color: rgb(69, 3, 154);
  border-radius:0.6rem ;
}

.label{
  padding: 1rem;
}

.submit-btn{
  border-color: rgb(69, 3, 154);
  border-radius: 0.8rem;
  background-color: transparent;
  color: rgb(69, 3, 154); 
  font-size: 16px;
  align-content: center;
  display:flex;
  flex-direction: row;   
  align-items: center;
  margin-left: 9rem;
}


.sbmit-btn-text{
  margin: 0px;
  padding-left: 0.4rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}



@media screen and (min-width:1100px) {
  .submit-btn{
      margin-left: 33rem;
  }
}

.alert{
  background-color: red;
  border-radius: 1.2rem;
}

.alert-text{
  text-align: center;
}